accordion-group::ng-deep .btn-link {
  color: white;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

accordion-group::ng-deep .card-header {
 background-color: #007bff;

}